# Игнорировать некоторые метафайлы при создании архива этого репозитория
/.github        export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.editorconfig  export-ignore

# Установить поведение по умолчанию на случай, если у пользователей не задан параметр core.autocrlf
* text=auto
